@import 'reset.css';
@import 'header.css';
@import 'section.css';
@font-face {
  font-family: "avenirnextltpro-regular";
  src: url("../fonts/avenirnextltpro-regular.eot?") format("eot"),
  url("../fonts/avenirnextltpro-regular.woff") format("woff"),
  url("../fonts/avenirnextltpro-regular.ttf") format("truetype");
}
@font-face {
  font-family: "avenirnextltpro-bold";
  src: url("../fonts/avenirnextltpro-bold.eot?") format("eot"),
  url("../fonts/avenirnextltpro-bold.woff") format("woff"),
  url("../fonts/avenirnextltpro-bold.ttf") format("truetype");
}
.fl-left{
	float: left;
}
.fl-right{
	float: right;
}
.clear{
	clear: both;
}
#container{
	max-width: 1140px;
	margin:0 auto;
}
.clear-fix{
    clear: both;
    content: "";
    display: table;
}