ul.icon-header li a:hover, input#btnNotify{
	background-color: #2ecc71;
}
#header{
	background: url('../images/bg-header.png') no-repeat top;
	height: 596px;
	border-top: 8px solid #2ecc71;
}
#header h1{
	font-family: "Pacifico", Arial, Helvetica, sans-serif;
	font-size: 60px;
    color: #fff;
}
span#dot{
	color: #2ecc71;
}
.header-content {
    width: 500px;
    margin: 150px 0 0 150px;
}
.header-content p{
	color: #fff;
	font-size: 26px;
	margin: 40px 0 20px 0;
}
ul.icon-header>li {
    display: inline-block;
    margin-right: 10px;
}

ul.icon-header li a {
    background-color: #36241a; 
    width: 50px;
    height: 50px;
    opacity: 0.8;
    
}
ul.icon-header li a i{
	color: #e0d0b7;
	font-size: 25px;
	line-height: 47px;
    text-align: center;
    display: block;
}
ul.icon-header li a i:hover{
	color: #f4f4f4;
}